.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navbarContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.navbar-logo{
    font-weight: 600;
}

.navButton{
    margin-left: 20px;
    border: none;
}